body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.navbar {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid;
}

.nav {
  list-style: none;
  padding-bottom: 2%;
  display: flex;
  gap: 10px;
  margin-right: 10px;
}

.active {
  color: #2eaabe;
}

.nav li a {
  text-decoration: none;
}

.main {
  flex: 1;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  justify-content: space-between;
}

/* Start of Missions Module */
.missions-table {
  border-collapse: collapse;
  margin: 2%;
}

.missions-table,
td,
th {
  border: 1px solid #d6d6d6;
  padding: 5px;
}

.btn {
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  width: 100%;
}

.unjoined-mission {
  background-color: #2eaabe;
}

.joined-mission {
  background-color: red;
}

tbody > tr:nth-child(odd) { background: #f2f2f2; }
tbody > tr:nth-child(even) { background: #fff; }

/* End of Missions Module */

/* Start of rockets module */
.single-rocket {
  display: flex;
}

.rocket-image {
  margin: 0.5%;
}

.rocket-desc {
  margin: 0.5%;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.rocket-btn {
  background-color: #2eaabe;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 1%;
  cursor: pointer;
}

.rocket-reserved {
  background-color: #2eaabe;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 2px;
  margin-right: 8px;
}

.rocket-btn-reserved {
  background-color: rgb(228, 228, 228);
  color: #000;
  border: 1px solid;
  border-radius: 5px;
  padding: 1%;
  cursor: pointer;
}

/* End of rockets module */
